.user-list {
    width: 100%;
    overflow-x: auto;
}

.user-search {
    padding: .5rem;
}

.user-table {
    td {
        vertical-align: middle;
    }
}

.user-image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.table-total {
    font-weight: 500;
    text-align: right;
    font-size: 1.25rem;
}

.user-form-container {
    max-width: 400px;
    margin: 0 auto;
}

.user-form-container.form-edit {
    background-color: #ecfbdc !important;
}

.form-container {
    width: 100%;
    height: 100dvh;
    background-color: #1c1c1c;
    display: grid;
    place-items: center;
    /* metodo flex 
    display: flex;
    align-items: center;
    justify-content: center;*/
}

.form-login {
    padding: 1.5rem;
    background-color: rgb(5, 86, 168);
    border-radius: 10px;
    color: white;
}
